.CabecalhoLogin {
    border: 2px solid black;
    background-color: var(--azul);
    width: 50rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    margin: 50; /* Remova a margem */
    border-radius: 2rem;
}

.cabecalhotexto {
    margin-left: 2rem;

}