.BlocoTextoGtech{
    border: 3px solid black;
    background-color: var(--verdeFatec);
    width: 45rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    margin-left: 2.5rem;
    border-radius: 2rem;
}

.BlocoTextoGtech:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.BlocoTextoGtech p {
    margin-right: auto;
    padding: 0 4rem;
}

.BlocoTextoGtech img {
    margin-left: auto;
    width: 260px;
    height: 100%; 
    padding: 0 3rem;
    background-size: cover;
}