.CaixaLogin {
    border: 2px solid #000000;
    background-color: var(--verdeFatec);
    width: 50rem;
    height: 33.55rem;
    position: relative; /* Adiciona contexto de posicionamento */
}

.login {
    margin-left: 0;
    margin-right: auto;
    padding: 0 3rem;
    margin-top: 3rem;
    width: 50%;
    position: relative; /* Garante que o login esteja no topo */
    z-index: 2; /* Garante que o login fique acima das imagens */
    gap: 5rem;
}

.CaixaLogin:hover{
    background: var(--cinza);
}
.login h1 {
    margin-top: 4rem; 
    padding: 0 9rem;
}

.login h4{
    margin-top: 1rem; 
}

.login h3 {
    margin-top: 1rem;
    padding: 0 10rem;
}

.login input{
    margin-top: 1rem;
    width: 100%; /* Aumenta a largura do input para ocupar todo o espaço disponível */
    height: 2rem; /* Define uma altura maior para o input */
    padding: 0.25rem 0,25rem; /* Aumenta o padding para adicionar espaçamento interno */
    font-size: 1.0rem; /* Aumenta o tamanho da fonte para tornar o texto mais legível */
    border: 2px solid var(--preto); /* Ajusta a borda para manter um visual consistente */
    border-radius: 0.75rem; /* Adiciona bordas arredondadas, se necessário */
}


.login a {
    text-decoration: none; /* Remove o sublinhado */
    color: var(--branco); /* Cor do texto */
}

.login a:hover {
    color: var(--vermelho); /* Cor do texto */
}

.login button{
    background: var(--vermelho);
    border: 2px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--preto);
    margin-top: 1rem;
    width: 100%; /* Aumenta a largura do input para ocupar todo o espaço disponível */
    height: 2rem; /* Define uma altura maior para o input */
    font-size: 1.0rem; /* Aumenta o tamanho da fonte para tornar o texto mais legível */
    border-radius: 0.5rem; /* Adiciona bordas arredondadas, se necessário */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura e altura total */
}

.login button:hover{
    background: var(--branco);
}

.imagem {
    margin-top: -23.85rem;
    position: relative;
    z-index: 1; /* Mantém as imagens abaixo do login */
}


.imagemAlta, .imagemBaixa {
    width: 300px;
    margin-left: 31.30rem;
    margin-top: 0rem;
}
