.Inicial {
    min-height: calc(100vh - 200rem); /* Ajuste para que o conteúdo preencha a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o espaço de forma mais eficiente */
    align-items: center;
    width: 100%;
    gap: 5rem;
    box-sizing: border-box;
}
.sideBySide {
    display: flex;
    gap: 2rem; /* Ajusta o espaçamento entre as duas abas */
}