.Inicial {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 100%;
    gap: 2rem; /* Espaçamento entre os blocos */
    padding: 2rem; /* Adiciona espaçamento interno para evitar que o conteúdo chegue muito perto das bordas */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura e altura */
    margin: 0 auto; /* Centraliza horizontalmente em relação à página */
}
.sideBySide {
    display: flex;
    gap: 1rem; /* Ajusta o espaçamento entre as duas abas */
}