.CaixaTextoFatecCampinas {
    border: 3px solid black;
    background-color: var(--verdeFatec);
    width: 45rem; /* Largura padrão */
    height: 15rem; /* Altura padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    margin-left: 2.5rem; /* Margem esquerda padrão */
    border-radius: 2rem;
}

.CaixaTextoFatecCampinas:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.CaixaTextoFatecCampinas p {
    margin-right: auto; /* Alinha o parágrafo à esquerda */
    font-size: 1rem;
    padding: 0 8rem;
}

.CaixaTextoFatecCampinas img {
    margin-right: 3rem; /* Alinha a imagem à direita */
    width: 15rem; /* Largura padrão da imagem */
    height: 85%; /* Altura da imagem */
    background-size: cover; /* Tamanho da imagem */
    border-radius: 2rem;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .CaixaTextoFatecCampinas {
        width: 80%; /* Largura reduzida para telas médias */
        height: auto; /* Altura automática para acomodar o conteúdo */
        margin-left: 1rem; /* Margem esquerda reduzida */
        margin-right: 1rem; /* Margem direita reduzida */
    }

    .CaixaTextoFatecCampinas img {
        width: 70%; /* Largura da imagem reduzida */
    }
}

@media (max-width: 768px) {
    .CaixaTextoFatecCampinas {
        width: 90%; /* Largura reduzida para telas menores */
        height: auto; /* Altura automática */
        margin-left: 0; /* Remove margem esquerda */
        margin-right: 0; /* Remove margem direita */
    }

    .CaixaTextoFatecCampinas img {
        width: 100%; /* Largura total para imagens */
        height: auto; /* Altura automática */
    }
}

@media (max-width: 480px) {
    .CaixaTextoFatecCampinas {
        flex-direction: column; /* Alinha itens verticalmente */
        height: auto; /* Altura automática */
        padding: 1rem; /* Adiciona padding para melhor visualização */
    }

    .CaixaTextoFatecCampinas p {
        margin-right: 0; /* Remove margem direita */
        text-align: center; /* Centraliza o texto */
    }

    .CaixaTextoFatecCampinas img {
        width: 80%; /* Largura da imagem reduzida */
        height: auto; /* Altura automática */
        margin: 1rem auto; /* Margem vertical e centraliza a imagem */
    }
}
