.BlocoTextoDocumento {
    border: 3px solid black;
    background-color: var(--verdeFatec);
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.BlocoTextoDocumento:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.BlocoTextoDocumento p {
    margin-right: auto;
    color: var(--branco);
}

.BlocoTextoDocumento button {
    display: inline-block;
    text-align: center;
    background-color: var(--cinza);
    color: var(--branco);
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.BlocoTextoDocumento button:hover {
    background-color: var(--branco);
    color: var(--preto);
}

/* Estilos responsivos para telas menores */
@media (max-width: 1024px) {
    .BlocoTextoDocumento {
        width: 18rem;
        height: 4.5rem;
    }

    .BlocoTextoDocumento p {
        font-size: 1rem;
    }

    .BlocoTextoDocumento button {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .BlocoTextoDocumento {
        width: 16rem;
        height: 4rem;
    }

    .BlocoTextoDocumento p, .BlocoTextoDocumento button {
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .BlocoTextoDocumento {
        width: 100%;
        height: 3.5rem;
        flex-direction: column;
        padding: 1rem;
    }

    .BlocoTextoDocumento p, .BlocoTextoDocumento button {
        font-size: 0.75rem;
    }

    .BlocoTextoDocumento button {
        margin-top: 0.5rem;
        width: 100%;
    }
}
