.CabecalhoMenu{
    background: var(--azul);
    color: var(--cinza);
    padding: 0.50rem 0.5rem;
    display: flex;
    justify-content: center;
    width:100%;
}

.CabecalhoMenu h5 {
    font-size: 1rem;
    margin-left: 10rem;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.CabecalhoMenu a {
    color: var(--branco); /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    margin: 0 1rem; /* Espaçamento entre os itens */
    font-weight: bold;
}

.CabecalhoMenu a:hover {
    color: var(--preto); /* Cor ao passar o mouse */
}