.CabecalhoMenu {
    background: var(--azul);
    color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.8rem;
}

.CabecalhoMenu h5 {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.CabecalhoMenu a {
    color: var(--branco); /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    margin: 1rem; /* Espaçamento entre os itens */
    font-weight: bold;
}

.CabecalhoMenu a:hover {
    color: var(--preto); /* Cor ao passar o mouse */
}

/* Estilo responsivo para telas médias */
@media (max-width: 1024px) {
    .CabecalhoMenu {
        height: 2.3rem; /* Reduz a altura */
    }

    .CabecalhoMenu h5 {
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
        margin-left: 5rem; /* Reduz o espaçamento lateral */
    }

    .CabecalhoMenu a {
        margin: 0.8rem; /* Reduz o espaçamento entre os links */
    }
}

/* Estilo responsivo para tablets e telas pequenas */
@media (max-width: 768px) {
    .CabecalhoMenu {
        height: 2rem; /* Ajuste adicional na altura */
    }

    .CabecalhoMenu h5 {
        font-size: 0.8rem; /* Reduz ainda mais o tamanho do texto */
        margin-left: 2rem; /* Ajuste para telas menores */
    }

    .CabecalhoMenu a {
        margin: 0.5rem; /* Ajusta o espaçamento entre os links */
    }
}

/* Estilo responsivo para smartphones */
@media (max-width: 480px) {
    .CabecalhoMenu {
        flex-direction: column; /* Coloca os elementos em coluna */
        height: auto; /* Altura automática para acomodar o conteúdo */
    }

    .CabecalhoMenu h5 {
        font-size: 0.7rem; /* Reduz o tamanho do texto */
        margin-left: 0; /* Remove o espaçamento lateral */
        text-align: center; /* Centraliza o texto */
    }

    .CabecalhoMenu a {
        margin: 0.3rem; /* Reduz o espaçamento entre os links */
        font-size: 0.8rem; /* Reduz o tamanho dos links */
    }
}
