.Conteudo {
    background-image: url('/imagens/Designsemnome.png');
    background-size: cover; /* Ajusta a imagem para cobrir o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    min-height: calc(100vh - 200rem); /* Ajuste para que o conteúdo preencha a altura da tela */
}

