.CaixaTextoProjeto {
    border: 3px solid black;
    background-color: var(--verdeFatec);
    width: 45rem; /* Largura padrão */
    height: 15rem; /* Altura padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    margin-left: 2.5rem; /* Margem esquerda padrão */
    border-radius: 2rem;
}

.CaixaTextoProjeto:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.CaixaTextoProjeto p {
    margin-right: auto; /* Alinha o parágrafo à esquerda */
    font-size: 1rem;
    padding: 0 8rem;
    
}

.CaixaTextoProjeto img {
    margin-right: 3rem; /* Alinha a imagem à direita */
    width: 25rem; /* Largura padrão da imagem */
    height: 85%; /* Altura da imagem */
    background-size: cover; /* Tamanho da imagem */
    border-radius: 2rem;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .CaixaTextoProjeto {
        width: 60%; /* Largura reduzida para telas médias */
        height: auto; /* Altura automática para acomodar o conteúdo */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
    }

    .CaixaTextoProjeto img {
        width: 40%; /* Largura da imagem reduzida */
        height: auto; /* Altura automática */
    }

    .CaixaTextoProjeto p {
        margin-right: auto; /* Alinha o parágrafo à esquerda */
        font-size: 1rem;
        padding: 0 4rem;
        
    }
}

@media (max-width: 768px) {
    .CaixaTextoProjeto {
        width: 60%; /* Largura reduzida para telas menores */
        height: auto; /* Altura automática */
        margin-left: 1rem; /* Remove margem esquerda */
        margin-right: 0; /* Remove margem direita */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CaixaTextoProjeto img {
        width: 40%; /* Largura total para imagens */
        height: auto; /* Altura automática */
    }

    .CaixaTextoProjeto p {
        margin-right: auto; /* Alinha o parágrafo à esquerda */
        font-size: 1rem;
        padding: 0 2rem;
        
    }
}

@media (max-width: 480px) {
    .CaixaTextoProjeto {
        flex-direction: column; /* Alinha itens verticalmente */
        height: auto; /* Altura automática */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .CaixaTextoProjeto p {
        margin-right: 0; /* Remove margem direita */
        text-align: center; /* Centraliza o texto */
    }

    .CaixaTextoProjeto img {
        width: 40%; /* Largura da imagem reduzida */
        height: auto; /* Altura automática */
        margin: 1rem auto; /* Margem vertical e centraliza a imagem */
    }
}
