.CaixaTextoProjeto {
    border: 3px solid black;
    background-color: var(--verdeFatec);
    width: 45rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    margin-left: 2.5rem;
    border-radius: 2rem;
}

.CaixaTextoProjeto:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.CaixaTextoProjeto p {
    margin-right: auto;
    padding: 0 4rem;
}

.CaixaTextoProjeto img {
    margin-left: auto;
    width: 250px;
    height: 100%; 
    padding: 0 4rem;
    background-size: cover;
}
