.LoginEmpresa{
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 100%;
    gap: 2rem; /* Espaçamento entre os blocos */
    box-sizing: border-box; /* Inclui e borda no cálculo da largura e altura */
    margin: 0 auto; /* Centraliza horizontalmente em relação à página */
}