.ListaAcesso {
    display: inline-block;
    text-align: center;
    background-color: var(--azul);
    color: var(--branco);
    margin: 0;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ListaAcesso:hover {
    background-color: var(--branco);
    color: var(--preto);
}