.BotaoExpansivoMenor {
    border: 3px solid black;
    background-color: var(--cinza);
    width: 20.35rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: var(--branco);
    border-radius: 5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.BotaoExpansivoMenor:hover {
    background-color: var(--verdeFatec);
    color: var(--preto);
}

.BotaoExpansivoMenor h1 {
    margin-right: auto;
    margin-left: 1rem;
}

.BotaoExpansivoMenor h2 {
    margin-left: auto;
    font-size: 3rem;
    margin-right: 1rem;
}

/* Estilos responsivos para telas menores */
@media (max-width: 1024px) {
    .BotaoExpansivoMenor {
        width: 18rem;
        height: 3.5rem;
    }

    .BotaoExpansivoMenor h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .BotaoExpansivoMenor {
        width: 10rem;
        height: 2.8rem;
    }

    .BotaoExpansivoMenor h1, .BotaoExpansivoMenor h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .BotaoExpansivoMenor {
        width: 10rem;
        height: 2.8rem;
        border-radius: 2rem;
    }

    .BotaoExpansivoMenor h1, .BotaoExpansivoMenor h2 {
        font-size: 1.8rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
