.Botao {
    background: var(--verde);
    border: 1px solid var(--preto);
    color: azure;
}

.Botao[tipo="primaario"]{
    background: var(--verde);
}

.Botao[tipo="secundario"]{
    background: var(--rosa);
}